.col-10, .col-12, .col-5, .col-6, .col-7, .col-md-10, .col-md-12, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
  width: 100%
}
.sl {
  max-width: 1140px;
  position: relative
}
.slider {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 150px;
  min-height: 150px
}
.row-slider {
  margin: 0;
  width: 9999px;
  float: left;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s
}
.col-slider-3 {
  width: 382px;
  margin-left: 0;
  float: left
}
.leftButton, .rightButton {
  background: url(https://www.tui.ru/getmedia/e67c2308-a78b-4244-b93a-cf184d5694e8/nav) 0 0/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no repeat;
  top: 50%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  position: absolute;
  width: 25px;
  height: 25px;
  color: #000;
  font-size: 40px;
  cursor: pointer;
  line-height: 2;
  font-weight: 700
}
.leftButton {
  background-position: left;
  left: -40px
}
.rightButton {
  right: -40px;
  background-position: right
}
.circle {
  cursor: pointer
}
.active-circle {
  background: #006ca9!important
}
@media screen and (max-width:792px) {
  .slider {
    overflow: hidden
  }
  .row-slider .myslide {
    width: 350px;
    overflow: hidden
  }
  .leftButton {
    left: -7px
  }
  .rightButton {
    right: -7px
  }
  .buttons-navigations {
    display: block;
    width: 100%!important
  }
  .button-navigatin {
    display: block;
    margin: 0 1em .5em 0
  }
  .sl {
    max-width: 350px
  }
}
body {
  margin: 0 auto;
  font-family: TUI-reg;
  font-size: 18px!important;
  color: #092a5e
}
.block_3 .slider-content {
  min-height: auto!important
}
.mobile_agent .row {
  min-width: 1200px
}
h4 {
  margin: 1em 0 .5em;
  line-height: inherit!important;
  font-weight: 700!important
}
.slider .price {
  bottom: 10px;
  right: auto;
  left: auto;
  width: 100%;
  position: absolute;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.sliders-hotels {
  min-height: 390px
}
.slider-content ul {
  margio-top: 0;
  color: grey;
  list-style: disc
}
.price a {
  color: #082a5e;
  text-decoration: none!important
}
.icons-footer {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em
}
a {
  text-decoration: none!important
}
p a {
  color: #fff!important
}
h3 {
  font-size: 1.17em!important;
  font-weight: 700!important
}
.slide-height_tall {
  min-height: 260px!important
}
.slide-height_tallone {
  min-height: 176px!important
}
.row-all {
  background: #fff;
  overflow: hidden;
  line-height: 1.5
}
.menu-top {
  background: #029fe9;
  position: relative
}
.logo-img {
  padding: 1.5em 3em 1.5em 15px!important
}
.label-menu {
  background-color: #7bc5f0;
  color: #092a5e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  padding: 10px;
  margin-right: 15px
}
.log {
  margin-left: 20px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #0f83dd;
  color: #fff
}
.label-menu-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  overflow: hidden;
  display: none
}
.menu-label div:hover>.label-menu-2 {
  z-index: 1;
  margin-top: 47px;
  background: #fff;
  display: block;
  border-top: 5px solid #029fe9
}
.concept-link {
  padding: 10px 2px;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.concept-link a {
  color: #092a5e!important
}
.concept-link img {
  width: 50px!important;
  margin: 15px
}
.concept-link:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  background: #c2e6fa
}
.telephone-number, .telephone-title {
  margin: 0
}
.menu-telephone {
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.telephone-number {
  font-size: 25px
}
#exit_menu, .but-menu-mobile {
  display: none
}
@media screen and (max-width:792px) {
  .mobile_agent .row {
    min-width: 0
  }
  .but-menu-mobile {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
  .but-menu-mobile:before {
    margin-top: 20px;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url(https://www.tui.ru/images-new/svg-icons/theme/icon-menu.svg) 0 0/contain no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain
  }
  .mobile_agent {
    position: absolute!important;
    padding: 30px;
    top: 0;
    width: 250px;
    right: -350px;
    z-index: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    background: #fff
  }
  .mobile_agent .label-menu {
    display: block;
    background: #fff!important;
    margin: .2em 0
  }
  .label-menu {
    width: 100%;
    margin-right: 0!important
  }
  .label-menu-2 {
    left: auto!important;
    right: 0
  }
  .mobile_agent .enter {
    background: #0f83dd!important
  }
  #exit_menu {
    position: absolute;
    display: block;
    top: 10px;
    right: 20px;
    width: 20px;
    text-align: center
  }
  .container>h2 {
    margin-right: -10px!important
  }
}
h2 {
  font-size: 1.5em!important;
  margin: 1.5em 0 1em!important;
  font-weight: 700!important
}
img {
  width: 100%
}
.active-link {
  border-bottom: 4px solid #092a5e;
  color: #092a5e!important;
  cursor: default
}
.buttons-navigations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #737373;
  margin: 1em 0 0;
  cursor: pointer
}
.button-navigatin {
  padding: 0 0 .3em;
  margin: 0 1em 1.8em 0;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  color: #737373
}
.slider {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 150px;
  min-height: 150px;
  padding-bottom: 0!important;
  width: auto!important
}
.sliders-hotels {
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 0 0 .5em;
  min-height: 401px!important
}
.sliders-hotels:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 0 15px rgba(158, 158, 158, .48);
  -moz-box-shadow: 0 0 15px rgba(158, 158, 158, .48);
  box-shadow: 0 0 15px rgba(158, 158, 158, .48)
}
.slider-content {
  min-height: 100px;
  margin: 2% 2% 8%
}
.slider-content ul {
  margin: 1em 2em;
  font-size: .8em
}
.gey_p {
  color: grey;
  font-size: .8em
}
.block-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em auto
}
.circle {
  width: 13px;
  height: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  background: #c2e6fa;
  margin: 0 .5em 0 0
}
.block_3 {
  background: #e2f3fe;
  margin: 3% 0 0;
  padding: 1%
}
.block_3 h2 {
  margin: 0 0 .5em
}
.price {
  padding: 0 2%;
  font-weight: 700
}
.price-num {
  font-weight: 400
}
.tour_a {
  background: #ffe100;
  width: 100%;
  text-align: center;
  padding: .4em
}
.icons-footer {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.price-num>p>b:after {
  content: " ₽"
}
a:hover {
  text-decoration: none!important
}
.imgSlider {
  width: 100%;
  height: 204px
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar
}
*, ::after, ::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}
@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}
@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}
.col-10, .col-12, .col-5, .col-6, .col-7, .col-md-10, .col-md-12, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -moz-box-flex: 0;
  flex: 0 0 41.666667%;
  max-width: 41.666667%
}
.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -moz-box-flex: 0;
  flex: 0 0 58.333333%;
  max-width: 58.333333%
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -moz-box-flex: 0;
  flex: 0 0 83.333333%;
  max-width: 83.333333%
}
.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%
}
@media (min-width:768px) {
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -moz-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -moz-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -moz-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -moz-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -moz-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -moz-box-flex: 0;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%
  }
}
.row-all {
  font-family: TUI-reg;
  color: #092a5e;
  font-weight: 100!important
}
.row-all img {
  width: 100%
}
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.head-dn {
  background: url(http://agent.tui.ru/getmedia/d4346efa-0e04-4418-8879-fa10107ae301/396-min)
}
.head-fs {
  background: url(http://agent.tui.ru/getmedia/52b19345-f2f2-407f-8508-0cea3bc1845e/banner-fs-min)
}
.head {
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  background-size: cover!important;
  padding-bottom: 93px;
  font-weight: 700!important;
  min-heigth: 540px
}
.logo {
  padding-left: 0!important
}
.logo img {
  width: 120px;
  margin: 25px 0
}
.information-head {
  max-width: 381px!important;
  background: #fff;
  opacity: .8;
  padding: 30px!important;
  min-height: 236px
}
.information-head p {
  font-size: 1.7em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal
}
.button_blue {
  width: 186px;
  height: 52px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #092a5e;
  color: #fff;
  font-size: 20px;
  margin: 30px 0 10px
}
.button_green {
  width: 163px;
  height: 50px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #aad700;
  color: #092a5e!important;
  font-weight: 700
}
.info-text-parent {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.5em
}
.info-text {
  text-align: center
}
.info-text p {
  line-height: 1
}
.hotel-get-round {
  height: 300px;
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  background-size: cover!important;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #fff!important;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#00000063));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #00000063);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #00000063);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #00000063)
}
#blockGetRound {
  margin-bottom: 40px
}
#blockGetRound .hotel-get-round * {
  color: #fff
}
.block-hotel-round {
  -moz-border-radius: 5px;
  border-radius: 5px
}
.info-get-round {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15px
}
.line-get-round {
  text-align: center;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e2f3fe;
  border-bottom: 2px solid #fff;
  height: 50.5px;
  padding: 0
}
.block-hotel {
  margin-top: 50px
}
.full-width-slider ul {
  padding-left: 0
}
.full-width-slider {
  margin-top: 50px;
  background-color: #c2e6fa;
  text-align: center;
  padding-bottom: 50px
}
#next {
  position: absolute;
  top: 50%;
  right: -12px;
  cursor: pointer
}
.row-slid {
  position: relative
}
#prev {
  position: absolute;
  top: 50%;
  left: -12px;
  cursor: pointer
}
.block-country {
  margin-bottom: 20px
}
.block-country img {
  width: 45px!important;
  margin-right: 10px
}
.footer-agent {
  background-color: #70cbf4;
  padding: 20px
}
.footer-agent * {
  color: #fff!important
}
.block2Round, .country, .name-get-round {
  font-weight: 700
}
@media screen and (max-width:992px) {
  #concepts-label-all {
    background-color: #7bc5f0!important
  }
  .label-menu-2 {
    display: none!important
  }
  .infoGetRound {
    margin-top: 10px
  }
}