.buttons-slider{
	margin-left: 0!important;
}
.info-footer{
	padding-left: 0;
}
.icon-top-mobile{
	display: none;
	margin: 1.5em 0;
}
.icon-top-desctop{
	display: block;
}
.icon-top-desctop img{
	width: 100%;
}
@media screen and (max-width: 759px){
	.button-slider-mobile{
		margin-left: 0!important;
		display: block;
		margin-top: 280px!important;
	}
	.button-slider{
		height: 48px;
	}
	.lSNext{
		right: 1%!important;
		top: 30%!important;
	}
	.lSPrev{
		left: 1%!important;
		top: 30%!important;
	}
	.contacts-footer{
		padding: 0;
	}
	.icons-footer{
		justify-content: space-evenly;
		padding: 0;
    margin: 0;
	}
	.info-footer{
		padding: 0 2em;
	}
	.footer-informations .col-12 > h3{
		text-align: center;
	}
	.footer-informations a{
		width: 10%;
	}
	.icon-top-mobile{
		display: block;
		padding-left: 0px;
		margin-bottom: 9px;
	}
	.icon-top-desctop{
		display: none;
	}
	.text-content h2{
		margin-top: 0px!important;
		margin-bottom: 8px!important
	}
}
.buttons-slider .button-slider p{
	font-size: 1.1em;
}