.sl{
   max-width: 1140px;
   position: relative;
}
.slider{
   overflow: hidden;
   margin-left: -15px;
   margin-right: -15px;
}
.row-slider{
   margin:0;
   width:9999px;
   float: left;
    margin-left:0;
   transition: all ease 1s;
}
.col-slider-1{
   width:745px;
   margin-left:0;
   float: left;
}
.col-slider-3{
   width: 382px;
   margin-left:0;
   float: left;
}
.col-slider-4{
   width: 287px;
   margin-left:0;
   float: left;
}
.leftButton, .rightButton{
   background: url(https://www.tui.ru/getmedia/e67c2308-a78b-4244-b93a-cf184d5694e8/nav);
   background-repeat: no-repeat;
   background-size: 180%;
   background-repeat: no repeat;
   top: 50%;
   transform: scale(1.2);
   position: absolute;
   width: 25px;
   height: 25px;
   color: black;
   font-size: 40px;
   cursor: pointer;
   line-height:2;
   font-weight: bold;
}
.leftButton{
   background-position:left;
   left:-40px;
}
.rightButton{
   right:-40px;
   background-position:right;
}
.circle{
   cursor: pointer;
}
.active-circle{
   background: #006ca9!important;
}

@media screen and (max-width: 792px){
   .slider{
    overflow: hidden;
/*    margin-left: 10px;
    margin-right: 10px;*/
}
   .row-slider .myslide{
   width:350px;
   overflow: hidden;
   }
   .row-slide-label{
      width: 330px;
      margin-left: -16px;
   }
   .leftButton {
    left: -7px;
   }
   .rightButton {
    right: -7px;
   }
   .buttons-navigations{
      display:block;
      width:100%!important;
   }
   .button-navigatin {
    display: block;
    margin: 0 1em 0.5em 0;
   }
   .sl{
    max-width: 350px;
   }
   #instagram div{
      width:47%;
      margin: 0 auto;
   }
/*   .sl h2{
    margin-left: -15px!important;
    margin-right: -15px!important;
   }*/
   .subscription-block h2{
    margin: 0!important;
   }
   .outline-m {
    padding: 0;
  }
  .slider-one .leftButton {
    left: -6px;
  }
  .slider-one .rightButton {
    right: -6px;
  }
}